/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  color: rgb(255, 255, 255);
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 95%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 95%;
  border: 3px solid #e6005a;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  width: 85%;
  position: relative;
  top: 0;
  left: 15%;
  background-color: #fffaf0;
  height: 100vh;
  overflow: auto;
}

canvas {
  /* width: 100% !important;
  height: 100% !important; */
}

/* PAGINA DOS GRÁFICOS 2023 */

.janela {
  display: flex;
  /* width: 100vw; */
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #ffff;
  /* background-color: #212124; */
  background: linear-gradient(90deg, #EBC14D, #ffecc9);
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.header-left h1 {
  color: #ffff;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #4D6054;
  font-weight: 200;
  font-size: 1.0rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 50%;
  color: white;
  background-color: #4D6054;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 50%;
  background-color: white;
  border: 3px solid #4D6054;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #4D6054;
  padding: 0;
  margin: 0;
  font-size: 1.0rem;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
  font-size: 1.0rem;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #4D6054;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

.tituloDash {
  margin: 3vw 10vh;
}

.kpis {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin: 3vw 10vh;
  height: 20vh;
}

.kpi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid #D5E293;
  border-radius: 10px;
  height: 20vh;
  width: 25%;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.superior {
  display: flex;
  flex-direction: row;
  /* align-items: flex-end; */
  align-items: stretch;
  justify-content: space-between;
  border: 3px solid #D5E293;
  border-radius: 10px;
  margin: 3vw 10vh;
  height: 40vh;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.bar {
  flex: 1;
  align-items: center;
  justify-content: center;
  height: auto;
  position: relative;
}

.doughnut {
  flex: 1;
  align-items: center;
  justify-content: center;
  border-left: 3px solid #D5E293;
  height: 100%;

}

.line {
  display: flex;
  flex-direction: row;
  border: 3px solid #D5E293;
  align-items: flex-end;
  justify-content: center;
  border-radius: 10px;
  margin: 10vh;
  padding: 5vh;
  height: 50%;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.menu-mobile {
    display: none;
}

.btn-fechar-menu {
    display: none !important;
}


@media only screen and (max-width: 600px) {


  .menu-mobile {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 1000;
        font-size: 30px;
        color: #4D6054;
        cursor: pointer;
    }

    /* Estilo do botão de fechar dentro do menu */
    .btn-fechar-menu {
        display: block !important;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 30px;
        color: #4D6054; /* ou a cor que preferir */
        cursor: pointer;
    }

    .header-left {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1001; /* Z-index maior que o menu-mobile para ficar por cima */
        height: 100vh;
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-right: 3px solid #ffff;
        background: linear-gradient(90deg, #EBC14D, #EBC14D);
        
        /* NOVO: Esconde o menu jogando ele para fora da tela na esquerda */
        transform: translateX(-100%);
        /* NOVO: Adiciona uma animação suave ao abrir/fechar */
        transition: transform 0.3s ease-in-out; 
        opacity: 95%;
    }

    /* NOVO: Classe que será ativada pelo JavaScript para mostrar o menu */
    .header-left.menu-aberto {
        transform: translateX(0);
    }

    /* Adicionando um espaço no topo da dash para o botão não ficar em cima do título */
    .tituloDash {
        margin-top: 80px; 
    }

  /* .header-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 3px solid #ffff;
    background: linear-gradient(90deg, #EBC14D, #ffecc9);
  } */


  .dash {
    width: 100%;
    position: relative;
    top: 0;
    left: 0%;
    background-color: #fffaf0;
    height: 100vh;
    overflow: auto;
  }

  /* .dash {
    width: 85%;
    position: relative;
    top: 0;
    left: 15%;
    background-color: #fffaf0;
    height: 100vh;
    overflow: auto;
  } */

  .kpis {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    margin: 3vw 2vh;
    height: 60vh;
  }

  .kpi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #D5E293;
    border-radius: 10px;
    height: 18vh;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  }

  .superior {
  display: flex;
  /* align-items: stretch; */
  /* justify-content: space-between; */
  border: 3px solid #D5E293;
  border-radius: 10px;
  margin: 3vw 2vh;
  height: auto;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  flex-direction: column;
}

.bar {
  flex: 1;
  align-items: center;
  justify-content: center;
  height: auto;
  position: relative;
}

.doughnut {
  flex: 1;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #ffffff;
  height: 100%;
}

.line {
  display: flex;
  flex-direction: row;
  border: 3px solid #D5E293;
  align-items: flex-end;
  justify-content: center;
  border-radius: 10px;
  margin: 2vh;
  padding: 1vh;
  height: 25%;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
}